@model IEnumerable<WebProject.Models.Announcement>
@{
    var cultureInfo = new System.Globalization.CultureInfo("tr-TR");
}
<section class="section">
    <div class="announcements-wrapper">
        <div class="content-block">
            <div class="content-block1">
                <h2 class="announcements-wrapper-title">
                    Duyurular
                    <svg class="icon icon-bullhorn">
                        <use xlink:href="#icon-bullhorn"></use>
                    </svg>
                </h2>
                <p class="announcements-wrapper-sub-title">Araştırma Merkezi Duyuruları</p>
            </div>
            <div class="content-block2">
                @foreach (var item in Model.Take(3))
                {
                    <div class="announcements">
                        @* <div role="img" class="announcements-img" style="background-image:
                            url(@item.PicturePath);"></div> *@
                        <h3 class="announcements-title">
                            <a asp-controller="Announcements" asp-action="AnnouncementsDetail"
                            asp-route-id="@item.Id">@item.Title</a>
                        </h3>
                        <p class="announcements-text">
                            @if (item.ShortText.Length >= 50)
                            {
                                @item.ShortText.Substring(0,@item.ShortText.Length / 3)
                            }
                            else
                            {
                                @item.ShortText
                            }
                        </p>
                        <p class="announcements-meta">
                            <time
                            date-time="@item.AdditionDate">@item.AdditionDate.ToString(cultureInfo.DateTimeFormat.LongDatePattern,cultureInfo)</time>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>