@model WebProject.Models.Substructure

<div class="substructure-lab-wrapper">
    <h1>@Model.Name</h1>
    <hr>
    <div class="row-2">
        <div class="col-2">
            <div class="row-2">
                <div class="col-2">
                    <div class="img-wrapper" style="max-width: 500px;">
                        <img src="@Model.PicturePath" alt="@Model.Name resmi">
                    </div>
                </div>
                <div class="col-2">
                    <p>@Model.Description</p>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <h4>Laboratuvarlar</h4>
    <hr>
    <div class="row-2">
        @if (ViewBag.labs != null)
        {
            @foreach (var item in ViewBag.labs)
            {
                <div class="col-2">
                    <div class="img-wrapper" style="max-width: 330px;">
                        <img src="@item.PicturePath" alt="@item.Name resmi">
                    </div>
                    <p><b>@item.Name</b></p>
                    <p>@item.Description</p>
                </div>
            }
        }
        else
        {
            <p>Altyapıya ait laboratuvar bulunmamaktadır</p>
        }
    </div>
</div>