@model IEnumerable<WebProject.Models.Management>

<div class="management-wrapper">
    <div class="management">
        <div class="management-title">
            <h1>Yönetim</h1>
        </div>
        <div class="management-staff">
            @foreach (var item in Model)
            {
                <div class="content-block">
                    <div class="card bg-gradient">
                        <img src="@item.Picture" alt="@item.FullName Resmi" class="card-img">
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="@item.Link" target="_blank">@item.FullName</a>
                            </h3>
                            <p class="card-text">@item.Status</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>